span {
  /* background-color: red; */
}

body {
  width: 80vw;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background-color: white;
  margin: 25vh auto;
  padding: 2.5%;
  border: 1px solid black;
  width: 90%;
  min-height: 25%;
}

#player-settings-container {
  /* background-color: red; */
  padding: 5px;
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-header {
  text-align: center;
}

.btn-player,
.color-player,
.input-username {
  margin-top: 10px;
}

.color-player {
  padding: 0;
}

.btn-close-modal {
  float: right;
}

.player-input {
  display: flex;
  align-items: baseline;
}

.grid-size-row {
  display: flex;
  justify-content: space-evenly;
}

.grid-size-row button {
  width: 7.5rem;
  margin: 0.25rem;
}

.modal-buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  width: 7.5rem;
  gap: 0.5rem;
}

#info-bar {
  min-width: 80vw;
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  padding: 0.5rem;
}

#grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blue;
  min-width: 80vw;
  min-height: 50vh;
  padding: 0.5rem;
}

.cell {
  width: 25px;
  height: 25px;
  margin: 0.25rem;
  border-radius: 50%;
  background-color: white;
  border: 3px black solid;
}

#results-banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 33vh;
  text-align: center;
}

.results-header {
  color: white;
  margin: 0 auto;
}

.btn-play-again {
  height: 2rem;
}

#rules-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 10;
  width: 50%;
  height: 30%;
  text-align: center;
  color: white;
  padding: 20px;
}

.btn-close-rules {
  float: right;
}
